@model  List<yemekKategori>

@{
    ViewBag.Title = "kategoriIndex";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Kategori Listesi ve Düzenleme Bölümü</h1>

            </div>

            <div class="panel-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Katedori ID</th>
                            <th>kotegori  Adı</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.yKategoriID</th>
                                <td>@item.yKategoriAdi</td>
                                

                                <td>@Html.ActionLink("Düzenle", "kategoriEdit", "yemek", new { id = @item.yKategoriID }, null)  |  @Html.ActionLink("Sil", "kategoriDelete", "yemek", new { id = @item.yKategoriID }, null)</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


