@model CeylaninMutfagi.yemekKategori

@{
    ViewBag.Title = "kategoriDelete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>kategoriDelete</h2>

<h3>silmek İstediğinizden emin misiniz</h3>
<div>
    <h4>yemekKategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.yKategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yKategoriAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Sil  ", "kategoriDeleteConfirm", new { id = Model.yKategoriID })  |
            @Html.ActionLink("Listeye Dön", "kategoriIndex","yemek")
        </div>
    }
</div>
